* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  color: #fff;
  list-style: none;
}

body {
  background-color: #0E0E0E;
  background-image: url("../images/bg-pattern.png");
  background-repeat: repeat-y;
  background-size: cover;
  animation: animateBg 100s alternate infinite ease-in-out;
}

@keyframes animateBg {
  from {
    background-position: top;
  }
  to {
    background-position: 0% 85%;
  }
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  padding: 30px 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  display: block;
  max-width: fit-content;
  overflow-x: hidden;
  font-family: "Silkscreen";
  font-size: 16px;
}

.nav-link::after {
  content: "";
  display: block;
  background-color: #FFE600;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition: .4s ease-out;
}

.nav-link:hover {
  color: #FFE600;
}

.nav-link:hover::after {
  transform: translateX(0%);
}

.before-separator,
.after-separator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.before-separator::before,
.after-separator::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-image: url('../images/separator.png');
  background-position: center;
  box-shadow: 0 0 5px #FFE600;
}