* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  color: #fff;
  list-style: none;
}

:root {

  font-size: 62.5%;

  --bg-color: #0E0E0E;
  --contrast-color: #FFE600;
  --bg-gradient: linear-gradient(60deg,#0BDD46 28%, #FAE633, #DE0E0E) 1;
  --bg-vertical-gradient: linear-gradient(200deg,#0BDD46 28%, #FAE633, #DE0E0E) 1;

}

body {
  background-color: var(--bg-color);
  background-image: url("../images/bg-pattern.png");
  background-repeat: repeat-y;
  background-size: cover;
  animation: animateBg 100s alternate infinite ease-in-out;
  overflow-y: hidden;
}

img {
  display: block;
  max-width: 100%;
}

@keyframes animateBg {
  from {
    background-position: top;
  }
  to {
    background-position: 0% 85%;
  }
}

/* Preload */

#preload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  background-color: #0E0E0E;
  background-image: url("../images/logo-spinning.gif");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#preload p {
  display: flex;
  align-items: end;
  font-size: 1.6rem;
  font-family: "Silkscreen";
}

#preload span {
  display: block;
  overflow-x: hidden;
  width: 16px;

}

#preload span span {
  transform: translateX(-12px);
  animation: 1.8s dotsAnimator infinite normal;
}

@keyframes dotsAnimator {
  0% {
    transform: translateX(-12px);

  }
  25% {
    transform: translateX(-8px);

  }
  50% {
    transform: translateX(-4px);

  }
  100% {
    transform: translateX(0px);
  }
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  padding: 30px 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  display: block;
  max-width: fit-content;
  overflow-x: hidden;
  font-family: "Silkscreen";
  font-size: 1.6rem;
}

.nav-link::after {
  content: "";
  display: block;
  background-color: var(--contrast-color);
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition: .4s ease-out;
}

.nav-link:hover {
  color: var(--contrast-color);
}

.nav-link:hover::after {
  transform: translateX(0%);
}

.before-separator,
.after-separator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.before-separator::before,
.after-separator::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-image: url('../images/separator.png');
  background-position: center;
}

.before-separator.glow::before,
.after-separator.glow::after {
  box-shadow: 0 0 5px var(--contrast-color);
}

#mobile-button {
  display: block;
  width: 20px;
  height: 2px;
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 0 white;
  position: relative;
  cursor: pointer;
  padding: 10px;
  visibility: hidden;
}

#mobile-button::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: .4s;
}

#mobile-button::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 0;
  transition: .4s;
}

#mobile-button.active {
  box-shadow: none;
}

#mobile-button.active::before {
  top: 0;
  transform: rotate(45deg);
  transition: .4s;

}

#mobile-button.active::after {
  transform: rotate(315deg);
  top: 0;
  transition: .4s;

}

/* Sections */

section {
  max-width: 1280px;
  padding: 0 90px;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* About */

#about {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.title,
.subtitle {
  font-family: 'Silkscreen';
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-size: 3.2rem;
}

.subtitle {
  font-size: 2.4rem;
}

.subtitle.right-align {
  text-indent: 160px;
}

.contrast-title {
  color: var(--contrast-color);
  text-shadow: 0 0 10px #F1E800;
}

.about-paragraph {
  font-size: 1.6rem;
  text-indent: 10px;
  max-width: 420px;
  margin: 15px 0;
}

.nav-links.big-itens a {
  font-size: 2rem;
}

/* Knowledge */

#knowledge {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#knowledge > h2 {
  justify-content: center;
  margin-bottom: 30px;
}

.knowledges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.know-container {
  height: 300px;
  overflow-y: scroll;
  padding-right: 10px;
}

.know-container::-webkit-scrollbar {
  background-color: #ffffff11;
  cursor: pointer;
  width: 5px;
}

.know-container::-webkit-scrollbar-thumb {
  display: block;
  background-color: #F1E800;
  border-radius: 10px;
}

.know-item {
  padding: 15px;
  border: 4px solid;
  border-image: var(--bg-gradient);
  margin-bottom: 15px;
  min-width: 400px;
  cursor: pointer;
}

.know-item > h3 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Silkscreen";
  text-transform: uppercase;
  transition: .2s ease-out;
}

.know-item.active > h3,
.know-item:hover > h3,
.tv-nav li.active > h3,
.tv-nav li:hover h3,
.project-tech-list li:hover h3 {
  color: var(--contrast-color);
}

.know-item > h3::before,
.tv-nav li::before,
.project-tech-list li::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #FFE600;
  margin-right: 15px;
  transition: .2s ease-out;
}

.know-item.red > h3::before,
.tv-nav li.red::before,
.project-tech-list li.red::before {
  background-color: #DE0E0E;
}

.know-item.blue > h3::before,
.tv-nav li.blue::before,
.project-tech-list li.blue::before {
  background-color: #000AFF;
}

.know-item.green > h3::before,
.tv-nav li.green::before,
.project-tech-list li.green::before {
  background-color: #00FF38;
}

.know-item.active > h3::before,
.know-item:hover > h3::before,
.tv-nav li.active::before,
.tv-nav li:hover::before,
.project-tech-list li:hover::before {
  background-color: white;
}

.know-description > h3 {
  display: flex;
  align-items: end;
  gap: 10px;
  font-size: 3.2rem;
  font-family: "Silkscreen";
  font-weight: 400;
  margin-bottom: 15px;
}

.know-description > p {
  font-size: 1.6rem;
  max-width: 460px;
  text-indent: 15px;
}

/* Projects */

#projects > h2 {
  justify-content: center;
  margin-bottom: 30px;
}

.tv-head {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.tv-head img {
  display: block;
}

.tv-out-border,
.tv-body {
  border: 5px solid bisque;
  border-image: var(--bg-gradient);
  border-radius: 10px;
}

.tv-out-border {
  padding: 15px;
}

.tv-body {
  display: grid;
  grid-template-columns: .5fr 1fr;
}

.tv-nav {
  border-right: 4px solid ;
  border-image: var(--bg-vertical-gradient);
}

.tv-nav li {
  display: flex;
  align-items: center;
  border-bottom: 4px solid;
  border-image: var(--bg-vertical-gradient);
  padding: 15px 30px;
  cursor: pointer;
}

.tv-nav li:last-child {
  margin-bottom: 60px;
}

.tv-nav li h3 {
  font-size: 1.6rem;
  font-family: "Silkscreen";
  font-weight: 400;
}

.tv-content {
  padding: 15px 30px;
  margin: 0 auto;
}

.project-image {
  position: relative;
  max-width: 582px;
  margin: 0 auto;
}

.project-image-link {
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.project-image-link img {
  transition: .5s ease-out;
  opacity: .9;
}

.project-image-link img:hover {
  transform: scale(1.1);
  transition: .5s;
  opacity: 1;
}

.project-external-link {
  display: flex;
  font-size: 1.2rem;
  font-family: "Silkscreen";
  background-color: #0E0E0E;
  width: fit-content;
  padding: 2px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.project-external-link:hover {
  color: var(--contrast-color);
}

.project-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
  padding: 15px 30px;
}

.project-tech-list {
  overflow-y: scroll;
  padding-right: 10px;
  max-height: 200px;
}

.project-tech-list::-webkit-scrollbar,
.tv-nav::-webkit-scrollbar {
  background-color: #ffffff11;
  cursor: pointer;
  width: 5px;
  height: 5px;
}

.project-tech-list::-webkit-scrollbar-thumb,
.tv-nav::-webkit-scrollbar-thumb {
  display: block;
  background-color: #F1E800;
  border-radius: 10px;
}

.project-tech-list li {
  display: flex;
  align-items: center;
  border: 4px solid;
  border-image: var(--bg-gradient);
  padding: 15px 30px;
  margin-bottom: 10px;
}

.project-tech-list li h3 {
  font-size: 1.6rem;
  font-family: "Silkscreen";
  font-weight: 400;
}

.project-info > p {
  font-size: 1.4rem;
  max-width: 270px;
  text-indent: 15px;
}

/* Responsive */

@media (max-width: 1100px) {

  /* Home */

  #cube-animation-container {
    display: none;
  }

  #about {
    justify-content: center;
  }

  .about-paragraph {
    max-width: 500px;
  }

  .subtitle.subtitle.right-align {
    text-indent: 40px;
  }

  #about .nav-links {
    flex-wrap: wrap;
  }


  /* Knowledge */

  .know-container {
    display: flex;
    height: auto;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 10px;
  }

  .know-container::-webkit-scrollbar {
    height: 5px;
  }

  .know-item {
    min-width: 250px;
    margin-bottom: 0;
  }

  .know-description > p {
    max-width: 600px;
  }

  /* Projects */

  .tv-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
  }

  .tv-nav {
    border-right: none;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 4px solid;
    border-image: var(--bg-vertical-gradient);
  }

  .tv-nav > ul {
    display: flex;
    align-items: center;
  }

  .tv-nav > ul li {
    border: none;
    border-right: 4px solid;
    border-image: var(--bg-vertical-gradient);
    min-width: 300px;
    padding: 15px 30px;
  }

  .tv-nav li:last-child {
    border-right: none;
    margin: 0px;
  }

  .tv-content {
    padding: 0px;
  }

  .project-image-link {
    border-radius: 0px;
  }

  .project-external-link {
    border-bottom-right-radius: 0px;
  }

}

@media (max-width:720px) {

  /* Home */

  #cube-animation-container {
    display: none;
  }

  #about {
    justify-content: center;
  }

  .about-paragraph {
    max-width: 500px;
  }

  .subtitle.subtitle.right-align {
    text-indent: 40px;
  }

  /* Padding Screen config */

  header,
  section {
    padding: 15px 30px;
  }

  /* Header */

  header .nav-links.active .after-separator::after {
    display: none;
  }

  header .nav-links {
    display: none;
    position: absolute;
    top: 5%;
    right: -110%;
    visibility: hidden;
  }

  header .nav-links li {
    display: flex;
    align-items: center;
    background-color: #0E0E0E;
    padding-left: 5px;
    gap: 10px;
    margin-bottom: 10px;
  }

  header .nav-links li::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('../images/separator.png');
    background-position: center;
  }

  header .nav-links.active {
    display: block;
    top: 120px;
    right: 30px;
    visibility: visible;
    animation: .8s left-animation forwards;
  }

  @keyframes left-animation {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  #mobile-button {
    visibility: visible;
  }

  /* Projects */

  .project-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 15px;
    gap: 15px;
  }

  .project-info > p {
    grid-row: 1;
    max-width: 100%;
    margin: 0 auto;
  }

  .project-tech-list li {
    padding: 15px;
  }

  .tv-out-border {
    padding: 5px;
  }

}


@media (max-width:360px) {

  .title {
    font-size: 2.4rem;
  }

  #about.nav-link, 
  .subtitle {
    font-size: 1.8rem;
  }


  /* Padding Screen config */
  header,
  section {
    padding: 15px;
  }
}
